.select
{
    width: 300px;
    margin-left:50px;
}
h1
{
    font-weight:lighter;
    font-size: 60px;
}
.button
{
    margin-top: 150px;
    border-style:groove;
    border: 2px  black;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin-left:50px;
}